.forgot-password-container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12336677;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .forgot-password-popup {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.364);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    padding: 15px;
    border: none;
    box-shadow: 0 0 10px #e5f2ff;
    cursor: pointer;
    text-align: center;
    /* font-size: 16px; */
  }
  
  .popup-content {
    max-width: 600px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .Finput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .Fbutton {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .Fbutton:hover {
    background: #0056b3;
  }
  
  .message {
    margin-top: 10px;
    color: green;
  }
  